
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, html {
    height: 100%;
}

.hero {
    background-image: url('/static/img/travel.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
    overflow: hidden;
    padding-top: 120px; 
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: -1; 
}


.navbar {
    position: fixed; 
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 100; 
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero .content {
    margin-top: 50px; 
}

.hero .content h1 {
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.hero .content p {
    font-size: 20px;
    margin-bottom: 40px;
}

.inputs {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.dropdown, .date-input {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.dropdown:hover, .date-input:hover {
    background-color: rgba(255, 255, 255, 1);
}

.submit-btn {
    padding: 15px 30px;
    font-size: 18px;
    background-color:rgb(249, 193, 52);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: rgb(227, 154, 17);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .hero .content h1 {
        font-size: 36px;
    }

    .inputs {
        flex-direction: column;
    }
}
