<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book {{ hotel[0] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book_hotel.css') }}">
</head>
<body>
    
    <h1>Book {{ hotel[0] }}</h1>
    
    <div class="container">
        <div class="hotel-details-container">
            <img src="{{ hotel[8] }}" alt="Image of {{ hotel[0] }}" class="hotel-image">
            <div class="hotel-info">
                <p><strong>Location:</strong> {{ hotel[1] }}</p>
                <p><strong>Rating:</strong> {{ hotel[3] }}</p>
                <p><strong>Amenities:</strong> {{ hotel[6] }}</p>
                <p><strong>Price per Night:</strong> {{ hotel[2] }}</p> 
            </div>
        </div>
        
        <form method="POST">
            <input type="number" name="adults" placeholder="Number of Adults" required>
            <input type="number" name="children" placeholder="Number of Children" required>
            <select name="room_type" required>
                <option value="">Select Room Type</option>
                <option value="single">Single Bed</option>
                <option value="double">Double Bed</option>
            </select>
            <input type="number" name="rooms" placeholder="Number of Rooms" required>
            <input type="date" name="check_in_date" required>
            <input type="date" name="check_out_date" required>
            <button type="submit">Confirm Booking</button>
        </form>
    </div>


    <p><a href="{{ url_for('show_hotel_details') }}">Back to Hotels</a></p>
</body>
</html>
